.tickerwrapper {    
    position: fixed;
    top: 0;
    
    left:1em;
    width: calc(99.9% - 2em);
    height: 4em;
    overflow: hidden;
    cursor: pointer;
    
    ul.list {
        position: relative;
        display: inline-block;
        list-style: none;
        padding:1.5em 0;
        margin:0;
    }

    ul.list.cloned {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      
      ul.list li {
        float: left;
        padding-left: 20px;
      }
    
  }
  
  
  
  