#vision__div {
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
	span {
		margin: 0 auto;
		position: relative;
		width:100%;
		height: 100%;
		left: 0;
		top: 0;
		margin-top:0em;
		text-align: center;
		display: block;
	}

	svg {
		text-align: center;
		margin: 0 auto;
		opacity: 1;
		transform: scale(1);
		width:100%;

		
		.line--one,
		.line--two,

		.rect--one,
		.rect--two{
			fill:none;
			stroke:blue;
			stroke-miterlimit:10;
		}

		.line--one,
		.line--two {
			stroke-width:2;
			display: block;
			// transform: scaleY(0.5) translate(0px, -106px);
			transform-origin: center;
			stroke:blue;
		}
		.rect--two{
			visibility: hidden;
		}

		.rect--one--gradient,
		.rect--two--gradient{
			visibility: hidden;
		}

		.rect--two--gradient{
			visibility: hidden;
		}

		.rect__inner--one,
		.rect__inner--two {
			fill:none;
			stroke:blue;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.rect__inner--two {
			visibility: hidden;
		}

		.inner__rect__one,
		.inner__rect__two,
		.inner__rect__three {
			display:block;
			fill:none;
			stroke:blue;
			stroke-width:0.9129;
			stroke-miterlimit:10;
		}
		.inner__rect__two,
		.inner__rect__three {
			visibility: hidden;
		}

		.screen__one,
		.screen__two,
		.screen__three {
			fill:none;
			stroke:blue;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.screen__two,
		.screen__three {
			visibility: hidden;
		}

	}
	

	&.vision--alt {
		
		.line--one,
		.line--two {
			visibility: hidden;
		}
		.rect--one,
		.rect--two{
			stroke-width:0;
			fill:url(#pattern-stripe);
			stroke:#000;
		}

		.rect--one--gradient,
		.rect--two--gradient{
			stroke-width:0;
			fill:url(#twoGradient);
			stroke:#000;
			visibility: visible;
			opacity:0.3;
			mix-blend-mode: lighten;
		}

		.rect--two--gradient{
			visibility: hidden;
		}


		.rect__inner--one,
		.rect__inner--two {

			fill:none;
			fill:url(#pattern-stripe--two);
			stroke:transparent;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.rect__inner--two {
			visibility: hidden;
		}

		.inner__rect__one,
		.inner__rect__two,
		.inner__rect__three {
			display:block;
			
			fill:none;
			fill:url(#pattern-stripe--three);
			stroke:transparent;
			stroke-width:1;
			stroke-miterlimit:10;
		}
		.inner__rect__two,
		.inner__rect__three {
			visibility: hidden;
		}

		.screen__one,
		.screen__two,
		.screen__three {
			fill:none;
			// fill:url(#MyGradient);
			fill:url(#pattern-stripe--two);
			stroke:transparent;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.screen__two,
		.screen__three {
			visibility: hidden;
		}


	}

	&.vision--rgb {
		mix-blend-mode: difference;
		.line--one,
		.line--two {
			visibility: hidden;
		}
		.rect--one,
		.rect--two{
			stroke-width:4;
			fill:transparent;
			stroke:blue;
		}

		.rect--one--gradient,
		.rect--two--gradient{
			stroke-width:4;
			fill:transparent;
			stroke:blue;
			visibility: visible;
			opacity:1;
			mix-blend-mode: saturation;
		}

		.rect--two--gradient{
			visibility: hidden;
		}


		.rect__inner--one,
		.rect__inner--two {

			fill:transparent;
			stroke:blue;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.rect__inner--two {
			visibility: hidden;
		}

		.inner__rect__one,
		.inner__rect__two,
		.inner__rect__three {
			display:block;
			
			fill:none;
			stroke:blue;
			stroke-width:2;
			stroke-miterlimit:10;
		}
		.inner__rect__two,
		.inner__rect__three {
			visibility: hidden;
		}

		.screen__one,
		.screen__two,
		.screen__three {
			fill:none;
			// fill:url(#MyGradient);
			fill:none;
			stroke:blue;
			stroke-width:6;
			stroke-miterlimit:10;
		}
		.screen__two,
		.screen__three {
			visibility: hidden;
		}


	}


}
