// Index



// .ex {
//     background: var(--accent-color from "./vars.module.css");
// }

// Layout
html {
    height: 100vh;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    color: red
}